<% if @user %>

  <div class="container createContainer">
    <form action="/create/new" method="POST">
      <div class="row">
        <div class="col-lg-12 text-center">
          <img src="penguintyping.png" class="addPageImg">
        </div>

        <div class="col-lg-12 text-left">
          Post Name:
          <input type="text" class="form-control inputBox" name="name">
          Post Description:
          <textarea class="form-control inputBox" name="description" rows="15"></textarea>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-12 text-center buttonCol">
          <button type="submit" class="buttonCustomize">
            POST
          </button>
        </div>

      </div>
    </form>
  </div>

<% else %>

  <h1 class="editContainer errorText py-5">
    <strong>Halt!</strong>...Uh Oh...Seems like you need to
    <strong>
      <a href="loginUser" class="errorRedirects">log in
        <a/>
      </strong>
      or
      <strong>
        <a href="/usercreate" class="errorRedirects">create an account!
        </a>
      </strong>
    </h1>

    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12">
          <img src="spartanTux.png" width="275px">
        </div>
      </div>
    </div>

  <% end %>
