<div class="container aboutContainer">
  <div class="row">
    <div class="col-lg-12 text-center py-5">
      <h2 class="linuxIsLife">Linux is Love. Linux is Right. Post About Linux for Eternal Life.
      </h2>
      <div class="col-lg-12 text-center sadPenguinText">
        If you're here, odds are you're a Linux user. Odds also are that you are picked on for being a Linux user.
        <img src="https://i.pinimg.com/originals/1e/46/b4/1e46b4db707211a4eca8e6fd49cb6cf3.png" class="sadPenguin">
      </div>
    </div>
    <div class="col-lg-12 text-center sadPenguinText">
      Yes, Yes...We know it can be quite lonely as a Linux User...
    </div>
    <div class="col-lg-12 text-center sadPenguinText">
      However....with LinuxHubz You Can Join A Community
      <img src="curious.png" class="sadPenguin" width="380">
    </div>
    <div class="col-lg-12 text-center sadPenguinText">
      Yep you heard right! Join the Linux Hub. The Community that Understands YOU.
    </div>
    <div class="col-lg-12 text-center sadPenguinText">
      COME JOIN THE PARTY. START POSTING NOW!
      <img src="party.png" width="380" class="sadPenguin">
    </div>
  </div>
</div>
