<div class="container allPosts">
  <% @blogposts.each do |blog| %>
  <div class="row">
    <div class="col-lg-12">

      <%= blog.name %>
     <%= blog.description %>
    </div>
  </div>
  <% end %>
</div>
