<div class="container editContainer">

  <div class="row">
    <div class="col-lg-12">
      <img src="/Sad-Tux-icon.png" class="sadPenguin">
    </div>

  </div>
  <div class="row">

    <div class="col-lg-12 logoutText">
      Please Make Sure To Come Back...The Linux Hub Needs You
    </div>
  </div>
</div>
